/* Header */

nav {
  padding: 0;
}
.header {
  background-color: #2a9d8f;
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-brand {
  font-size: 3em;
  color: #fff;
}

/* Buttons */

.logout-Btn {
  margin: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.btn {
  background-color: #e76f51;
  border: #e76f51;
  font-size: 2em;
}
